{% include header.html %}

{% assign articles = page.articles %}



<section id="introduction">
    <figure>
        <img src="/img/intro.svg" alt="Illustration of a man on a laptop">
        <img src="/img/wolkje.svg" alt="Illustration of a cloud">
        <img src="/img/wolkje.svg" alt="Illustration of a cloud">
    </figure>
    <section class="articles">
        <article>
            <h1>{{ articles[0].title }}</h1>
            {{ articles[0].markdown | markdownify }}
        </article>
    </section>
</section>

<section id="cijfers">
    <section class="figures">
        <figure>
            <span>0</span>
        </figure>
        <figure class="bars">
            <ul>
                <li>
                    <span>Inbraken</span>
                    <span>19995</span>
                </li>
                <li>
                    <span>Cybercrime</span>
                    <span>8512</span>
                </li>
                <li>
                    <span>Zakkenrollerij</span>
                    <span>4315</span>
                </li>
            </ul>
        </figure>
    </section>
    <section class="articles">
        {% for article in page.cijfers_articles %}
        <article>{{ article.markdown | markdownify }}</article>
        {% endfor %}
        <ul>
            {% for item in page.krantenkoppen %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
    </section>
</section>


<section id="next" style="height: 30rem">
</section>

{% include footer.html %}