{% include header.html %}

{% assign articles = page.articles %}



<section id="introduction">
    <figure>
        <img src="/img/intro.svg" alt="Illustration of a man on a laptop">
        <img src="/img/wolkje.svg" alt="Illustration of a cloud">
        <img src="/img/wolkje.svg" alt="Illustration of a cloud">
    </figure>
    <section class="articles">
        <article>
            <h1>{{ articles[0].title }}</h1>
            {{ articles[0].markdown | markdownify }}
        </article>
    </section>
</section>

<section id="cijfers">
    <section class="figures">
        <figure>
            <span>0</span>
        </figure>
        <figure class="bars">
            <ul>
                <li>
                    <span>Inbraken</span>
                    <span>19995</span>
                </li>
                <li>
                    <span>Cybercrime</span>
                    <span>8512</span>
                </li>
                <li>
                    <span>Zakkenrollerij</span>
                    <span>4315</span>
                </li>
            </ul>
        </figure>
        <!-- <div class="bluebg"></div> -->
    </section>
    <section class="articles">
        {% for article in page.cijfers_articles %}
        <article>{{ article.markdown | markdownify }}</article>
        {% endfor %}
        <!-- <ul>
            <li>
                <ul>
                    {% for item in page.krantenkoppen_inbraken %}
                    <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul>
                    {% for item in page.krantenkoppen_cybercrime %}
                    <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <ul>
                    {% for item in page.krantenkoppen_zakkenrollerij %}
                    <li>{{ item.title }}</li>
                    {% endfor %}
                </ul>
            </li> -->
    </section>
</section>

<section id="stackedbar">
    <figure>
        <div class="canvas">
            <div class="x"></div>
            <div class="y"></div>
            <ul class="labels">
                {% for item in site.data.months.months %}
                    <li>{{ item.abbreviation | capitalize }}</li>
                {% endfor %}
            </ul>
        </div>
    </figure>
    <section class="articles">
        {% for article in page.stackedbar_articles %}
        <article>{{ article.markdown | markdownify }}</article>
        {% endfor %}
    </section>
</section>

<section id="next" style="height: 30rem">
</section>

{% include footer.html %}